
name: RunTests

on:
  workflow_dispatch:
  pull_request:
    branches: [main]
      
env:
  UNITY_EMAIL: ${{ secrets.UNITY_EMAIL }}
  UNITY_PASSWORD: ${{ secrets.UNITY_PASSWORD }}
  UNITY_SERIAL: ${{ secrets.UNITY_SERIAL }}

jobs:   
  test:
    name: Run Tests in ${{ matrix.testMode }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        testMode:
          - playmode
          - editmode
    steps:
        - name: Checkout Repo
          uses: actions/checkout@v4
          with:
            lfs: true      

        - name: Run Tests
          uses: game-ci/unity-test-runner@v4
          env:
            UNITY_EMAIL: ${{ secrets.UNITY_EMAIL }}
            UNITY_PASSWORD: ${{ secrets.UNITY_PASSWORD }}
            UNITY_SERIAL: ${{ secrets.UNITY_SERIAL }}
          with:             
            packageMode: true
            projectPath: Tmp/
            testMode: ${{ matrix.testMode }}
            unityVersion: 2022.3.34f1
            

